/* POPPINS FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Righteous Font Family */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/***** UTILITY *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  background-color: var(--body-bg);
}

:root {
  --main-bg: #4516fe;
  --body-bg: #f8f8fa;
  --que-bg: #e9edff;
  --btn-gb: #5a31fc;
  --foot-bg: #4718fe;
  --white: #ffffff;
  --black: #000000;
}

a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style-type: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
/*******  *******/

/******* Header *******/
header {
  background-color: var(--main-bg);
  color: var(--white);
  width: 100%;
  position: relative;
}

/** navbar **/
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 5rem 1rem 2rem;
}

/* nav items */
nav a {
  font-size: 1.4rem;
  margin-left: 3rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

nav a:hover {
  font-weight: 600;
}

nav .nav-item-active {
  margin-right: 1.5rem;
  background-color: var(--white);
  color: var(--btn-gb);
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  font-weight: 600;
}

/* logo and hamburger container*/
nav + div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 12rem;
  margin-left: 5rem;
  cursor: pointer;
  margin-bottom: 10rem;
}

.fa-solid.ham-icon {
  font-size: 2.2rem;
  margin-right: 5rem;
  display: none;
}
/** Header text and img wrapper **/
.showcase {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* header text */
.header-text {
  margin-left: 5rem;
}

.header-text h2 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.header-text p {
  font-size: 1.8rem;
  padding-bottom: 14rem;
}

/* haeder img */
.header-img-container {
  width: 40%;
  position: relative;
}

.header-img-container img {
  width: 100%;
  position: absolute;
  top: -102px;
  right: 0;
}
/*******  *******/

/******* Companies *******/
.companies {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 5rem;
}

.companies .company-items {
  color: var(--black);
  margin-right: 10rem;
  font-family: 'Righteous', sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}

.companies .company-items:hover {
  font-weight: 600;
}

/*******  *******/

/******* API Section *******/
.api {
  padding: 5rem;
}

.api h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

/* API Cards Container */
.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Single Card */
.card {
  padding: 4rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-self: normal;
}

/* Single Card Hover */
.card:hover {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:hover .card-head {
  color: var(--btn-gb);
}

/* card img */
.card-logo {
  margin-bottom: 2rem;
}

/* card heading */
.card-head {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

/* card para */
.card-body {
  font-size: 1.4rem;
}

/* Active Card */
.card-active {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Card  Active Heading*/
.card-head-active {
  color: var(--btn-gb);
}
/*******  *******/

/******* Blog Section *******/
.blog {
  padding: 5rem;
  margin-bottom: 4rem;
}

.blog-heading h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

/* Blogs Card Container */
.blog-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2%;
}

/** Single Blog Card **/
.blog-card {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  align-self: normal;
}

.blog-image {
  width: 60%;
}

.blog-image img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

/* blog content */
.blog-content {
  background-color: var(--white);
  position: relative;
  padding: 1rem 4rem 0 3rem;
  border-radius: 0px 10px 10px 0px;
  width: 60%;
}

.blog-content h6 {
  font-size: 1.2rem;
  color: var(--btn-gb);
  margin-bottom: 0.8rem;
}

.blog-content h3 {
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
}

.blog-content small {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

/* blog bottom writter */
.blog-bottom {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -18px;
  left: 35px;
}

.blog-bottom .blog-author {
  font-size: 1.2rem;
  position: relative;
  top: -5px;
  left: 5px;
}
/*******  *******/

/******* FAQ Section *******/
.faq-section {
  background-color: var(--que-bg);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 5rem;
}

.faq-content,
.faq-image {
  width: 50%;
}

/* faq content */
.faq-content h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}

.faq-content h4 {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  color: #666;
}

.faq-content h4 + h4 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #222;
}

.faq-content button {
  display: inline-block;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  background-color: var(--btn-gb);
  color: var(--white);
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.faq-content button:hover {
  background-color: var(--main-bg);
}

/* FAQ image  */
.faq-section img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
/*******  *******/

/******* Download Section *******/
.download-section {
  padding: 10rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-content {
  width: 60%;
}

/* download content */
.download-content h1 {
  font-size: 3rem;
  font-weight: 700;
}

.download-content span {
  font-weight: 500;
}

/* download email */

.download-email {
  width: 50%;
}

/* form */
.download-section form {
  background-color: var(--que-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  width: 100%;
  border-radius: 3rem;
}

form input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 2;
  padding-left: 3rem;
}

::placeholder {
  color: var(--black);
}

.download-email button {
  display: inline-block;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-color: var(--btn-gb);
  color: var(--white);
  cursor: pointer;
  padding: 1.4rem 5rem;
  border-radius: 3rem;
  transition: all 0.1s ease-in-out;
}

.download-email button:hover {
  background-color: var(--main-bg);
}

/*******  *******/

/******* Footer Section *******/
.footer-section {
  background-color: var(--foot-bg);
  color: var(--white);
  padding: 8rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**** footer left ****/
.footer-left img {
  width: 14rem;
  margin-bottom: 3rem;
}

/* footer left list menu */
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* list items */
.list li {
  font-size: 1.2rem;
  padding: 0 2rem 0;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

/* vertical line */
.list li ~ li {
  border-left: 1px solid var(--white);
}

/* first item lorem */
.list-items:first-child {
  padding-left: 0;
}

/**** footer right ****/

.footer-right {
  text-align: right;
}
.footer-social {
  margin-bottom: 3rem;
}

/* social icon */
.footer-logos {
  margin-left: 2rem;
  cursor: pointer;
}

/* social icon below list */
.logos-list {
  display: flex;
}

.logos-list li {
  font-size: 1.2rem;
  padding: 0 2rem 0;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.logos-list li ~ li {
  border-left: 1px solid var(--white);
}

.logos-list li:last-child {
  padding-right: 0;
}

/*--------Media Query Smaller device--------*/
@media only screen and (max-width: 480px) {
  /* navbar */
  nav {
    display: none;
  }

  /* logo and hamburger */
  .logo {
    width: 7rem;
    margin: 2rem 0 4rem 2%;
  }

  .fa-solid.ham-icon {
    display: block;
    margin-top: 2rem;
    margin-right: 2%;
  }

  /* header text and img */
  .showcase {
    flex-direction: column;
    width: 100%;
    padding-left: 2%;
  }

  .header-text {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .header-text h2 {
    font-size: 2.2rem;
    font-weight: 500;
  }

  .header-text p {
    font-size: 1.4rem;
    padding-bottom: 0;
  }

  .header-img-container {
    width: 100%;
  }

  .header-img-container img {
    position: static;
  }

  /* Companies */
  .companies {
    flex-direction: column;
    padding: 2%;
    align-items: flex-start;
  }

  .companies .company-items {
    font-size: 2.2rem;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  /* API Section */
  .api {
    padding: 2%;
  }

  .api h1 {
    font-size: 3rem;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  /* blog section */
  .blog {
    padding: 2%;
  }

  .blog-heading h1 {
    font-size: 3rem;
  }

  .blog-cards {
    flex-direction: column;
  }

  .blog-card {
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%;
  }

  .blog-image {
    width: 100%;
  }

  .blog-content {
    width: 100%;
    padding: 1rem 1rem 5rem;
  }

  .blog-content h3 {
    font-size: 2.2rem;
  }

  .blog-bottom {
    position: absolute;
    bottom: -16px;
    left: 10px;
  }

  .blog-card-bottom-image {
    width: 4.5rem;
  }

  /* faq Section */
  .faq-section {
    flex-direction: column;
    padding: 0;
  }

  .faq-content,
  .faq-image {
    width: 100%;
  }

  .faq-content {
    order: 2;
    padding: 0 2% 3rem;
  }

  .faq-content h2 {
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 3rem;
  }

  /* download */
  .download-section {
    padding: 4rem 2% 5rem;
    flex-direction: column;
    text-align: center;
  }

  .download-content {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .download-email {
    width: 100%;
  }

  form input {
    padding-left: 1rem;
  }

  .download-email button {
    font-size: 1rem;
    padding: 1.2rem 2rem;
  }

  ::placeholder {
    font-size: 1rem;
  }

  /* Footer */
  .footer-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 3% 2%;
  }

  .footer-left img {
    width: 9rem;
  }

  .list {
    margin-bottom: 3rem;
  }

  .list li {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .footer-right {
    text-align: center;
    width: 100%;
  }

  .footer-social {
    margin-bottom: 3rem;
  }
  .logos-list {
    justify-content: center;
  }
}

/*--------Media Query Large device and Tablet--------*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* navbar */
  nav {
    display: none;
  }

  /* logo and hamburger */
  .logo {
    width: 10rem;
    margin: 2rem 0 4rem 2%;
  }

  .fa-solid.ham-icon {
    display: block;
    margin-top: 2rem;
    margin-right: 2%;
  }

  /* header text and img */
  .showcase {
    flex-direction: column;
    width: 100%;
    padding-left: 2%;
  }

  .header-text {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .header-text h2 {
    font-size: 2.8rem;
    font-weight: 500;
  }

  .header-text p {
    font-size: 1.6rem;
    padding-bottom: 0;
  }

  .header-img-container {
    width: 100%;
  }

  .header-img-container img {
    position: static;
  }

  /* companies */
  .companies {
    margin-bottom: 2rem;
    padding: 2%;
  }

  .companies .company-items {
    font-size: 2rem;
    margin-right: 2rem;
  }

  /* API Section */
  .api {
    padding: 2%;
  }

  .cards {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .card {
    width: 49%;
    margin-bottom: 2%;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  /* blog section */
  .blog {
    padding: 2%;
  }

  .blog-card {
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%;
  }

  .blog-image {
    width: 100%;
  }

  .blog-image img {
    height: 30rem;
  }

  .blog-content {
    width: 100%;
    padding: 1rem 1rem 5rem;
  }

  .blog-content h3 {
    font-size: 2.2rem;
  }

  .blog-bottom {
    position: absolute;
    bottom: -25px;
    left: 10px;
  }

  .blog-card-bottom-image {
    width: 6rem;
  }

  .blog-bottom .blog-author {
    font-size: 1.4rem;
  }

  /* faq Section */
  .faq-section {
    flex-direction: column;
    padding: 0;
  }

  .faq-content,
  .faq-image {
    width: 100%;
  }

  .faq-content {
    order: 2;
    padding: 0 2% 3rem;
  }

  .faq-image {
    height: 25rem;
  }

  .faq-image img {
    object-fit: cover;
    object-position: left top;
  }

  /* download */
  .download-section {
    padding: 4rem 2% 5rem;
    flex-direction: column;
  }

  .download-content {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .download-email {
    width: 100%;
  }

  form input {
    padding-left: 1rem;
  }

  .download-email button {
    font-size: 1.4rem;
    padding: 1.2rem 3.4rem;
  }

  ::placeholder {
    font-size: 1.4rem;
  }

  /* Footer */
  .footer-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 3% 2%;
  }

  .footer-left img {
    width: 10rem;
  }

  .list {
    margin-bottom: 3rem;
  }

  .footer-right {
    text-align: center;
    width: 100%;
  }

  .footer-social {
    margin-bottom: 3rem;
  }

  .logos-list {
    justify-content: center;
  }
}

/* media query for larger device and laptop */

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  /* Logo */
  .logo {
    margin: 2rem 0 6rem 2%;
  }
  /* showcase */
  .showcase {
    flex-direction: column;
    width: 100%;
    padding-left: 2%;
  }

  .header-text {
    margin-left: 0;
    margin-bottom: 3rem;
  }

  .header-text p {
    padding-bottom: 0;
  }

  .header-img-container {
    width: 100%;
  }

  .header-img-container img {
    position: static;
    width: 100%;
  }

  /* API */
  .api {
    padding: 2%;
  }

  .cards {
    flex-wrap: wrap;
  }

  .card {
    width: 49%;
    margin-bottom: 2%;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  /* Blog Section */
  .blog {
    padding: 2%;
  }

  .blog-cards {
    gap: 2%;
  }

  .blog-card {
    flex-direction: column;
  }

  .blog-image {
    width: 100%;
  }

  .blog-image img {
    height: 30rem;
  }

  .blog-content {
    width: 100%;
    padding: 1rem 4rem 6rem 3rem;
  }

  /* Faq section */

  .faq-section {
    flex-direction: column;
    padding-left: 0;
  }

  .faq-content,
  .faq-image {
    width: 100%;
  }

  .faq-content {
    order: 2;
    padding: 2%;
  }

  .faq-section img {
    height: 30rem;
    object-fit: cover;
    object-position: top left;
  }

  /* download */
  .download-content {
    width: 40%;
  }
  .download-content h1 {
    font-size: 2.6rem;
  }
  .download-email {
    width: 60%;
  }
  .download-email button {
    font-size: 1.5rem;
    padding: 1.4rem 3rem;
  }
}